<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <title>Detail Admin - New User Form</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="__PUBLIC__/admin/js/jQuery3.0.min.js" rel="script"/>
    <!-- bootstrap -->
    <link href="__PUBLIC__/admin/css/bootstrap/bootstrap.css" rel="stylesheet"/>
    <link href="__PUBLIC__/admin/css/bootstrap/bootstrap-responsive.css" rel="stylesheet"/>
    <link href="__PUBLIC__/admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet"/>

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/elements.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/icons.css"/>

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/admin/css/lib/font-awesome.css"/>

    <!-- this page specific styles -->
    <link rel="stylesheet" href="__PUBLIC__/admin/css/compiled/new-user.css" type="text/css" media="screen"/>

    <!-- open sans font -->
    <link href='http://fonts.useso.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
          rel='stylesheet' type='text/css'/>

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>


</head>
<body>

<include file="navi:navigation"/>


<!-- main container -->
<div class="content" ng-controller="myCtrl">

    <!-- settings changer -->
    <div class="skins-nav">
        <a href="#" class="skin first_nav selected">
            <span class="icon"></span><span class="text">Default</span>
        </a>
        <a href="#" class="skin second_nav" data-file="__PUBLIC__/admin/css/skins/dark.css">
            <span class="icon"></span><span class="text">Dark skin</span>
        </a>
    </div>

    <div class="container-fluid">
        <div id="pad-wrapper" class="new-user">
            <div class="row-fluid header">
                <h3>添加新用户</h3>
            </div>

            <div class="row-fluid form-wrapper">
                <!-- left column -->
                <div class="span9 with-sidebar">
                    <div class="container">
                        <form class="new_user_form inline-input" action="{:U(user/new_user)}" method="post"
                              id="form">
                            <div class="span12 field-box">
                                <label>昵称:</label>
                                <input class="span9" type="text" name="nicheng" id="nicheng"/>
                            </div>
                            <div class="span12 field-box">
                                <label>用户类型:</label>
                                <div class="ui-select span5">
                                    <select name="leixing">
                                        <foreach name="perList" item="per">
                                            <option value="{$per['id']}"/>
                                            {$per['name']}
                                        </foreach>
                                    </select>
                                </div>
                            </div>
                            <div class="span12 field-box">
                                <label>公司:</label>
                                <input class="span9" type="text" name="gongsi"/>
                            </div>
                            <div class="span12 field-box">
                                <label>密码:</label>
                                <input type="password" class="span9" type="text" name="mima" id="mima"/>
                            </div>
                            <div class="span12 field-box">
                                <label>确认密码:</label>
                                <input type="password" class="span9" type="text" name="qrmima" id="qrmima"/>
                            </div>
                            <div class="span12 field-box">
                                <label>邮箱:</label>
                                <input class="span9" type="text" name="youxiang"/>
                            </div>
                            <div class="span12 field-box">
                                <label>地址:</label>
                                <div class="address-fields">
                                    <input class="span12" type="text" placeholder="街道详细地址" name="dizhi"/>
                                    <input class="span12 small" type="text" placeholder="省" name="sheng"/>
                                    <input class="span12 small" type="text" placeholder="市" name="shi"/>
                                    <input class="span12 small last" type="text" placeholder="区" name="qu"/>
                                </div>
                            </div>

                            <div class="span12 field-box textarea">
                                <label>备注:</label>
                                <textarea class="span9" name="beizhu" ng-model="name"></textarea>
                                <span class="charactersleft">已经输入{{length}}个字符总共可以输入100个字符</span>
                            </div>
                            <div class="span11 field-box actions">
                                <input type="submit" class="btn-glow primary" value="Create user"/>
                                <span>OR</span>
                                <input type="reset" value="Cancel" class="reset"/>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- side right column -->
                <div class="span3 form-sidebar pull-right">
                    <div class="btn-group toggle-inputs hidden-tablet">
                        <button class="glow left active" data-input="inline">INLINE INPUTS</button>
                        <button class="glow right" data-input="normal">NORMAL INPUTS</button>
                    </div>
                    <div class="alert alert-info hidden-tablet">
                        <i class="icon-lightbulb pull-left"></i>
                        Click above to see difference between inline and normal inputs on a form
                    </div>
                    <h6>Sidebar text for instructions</h6>
                    <p>Add multiple users at once</p>
                    <p>Choose one of the following file types:</p>
                    <ul>
                        <li><a href="#">Upload a vCard file</a></li>
                        <li><a href="#">Import from a CSV file</a></li>
                        <li><a href="#">Import from an Excel file</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div ng-app="myApp" ng-controller="myCtrl">-->
<!--</div>-->
<!-- end main container -->


<!-- scripts -->
<script src="__PUBLIC__/admin/js/jquery-latest.js"></script>
<script src="__PUBLIC__/admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/admin/js/theme.js"></script>

<script type="text/javascript">

    $(function () {
        $("#form").bind("submit", function () {

            $name = $("#nicheng").val();

            $.post("{:U('user/isNameExistes')}",
                {
                    name: $name
                },
                function (data, status) {
                    if (data) {
                        alert("验证通过");
                    } else {
                        alert("数据验证失败");
                    }
                });
            return false;

//            $qrmima = $("#qrmima").val();
//            $mima = $("#mima").val();
//            if ($qrmima == $mima) {
//                return true;
//            }
//            alert("两次密码不一致");
//            return false;
        })
    })
    $(function () {

        // toggle form between inline and normal inputs
        var $buttons = $(".toggle-inputs button");
        var $form = $("form.new_user_form");

        $buttons.click(function () {
            var mode = $(this).data("input");
            $buttons.removeClass("active");
            $(this).addClass("active");

            if (mode === "inline") {
                $form.addClass("inline-input");
            } else {
                $form.removeClass("inline-input");
            }
        });
    });
    /*以下是我添加的数据*/
    /*监听文本框内容的变化*/
    $(function () {
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function ($scope) {
            $scope.length = 0;
            $scope.$watch('name', function (newValue, oldValue, scope) {
                $scope.length = newValue.length;
                if ($scope.length > 100) {
                    $scope.name = oldValue;
                }
            });
        });
    })
    /*-------------ajax--------*/

</script>

</body>

<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
</html>